#board {
  margin-top: 10px;
  text-align: center;
}

.box {
  border: 1px solid white;
  height: 150px;
  font-family: 'Coiny', cursive;;
  color:grey;
  
}

hr{
  border-color:white;
  height: 3px;
}

body{
  text-align: center;
  background-color: #00EDFF;
  color: white;
  font-family: 'Quicksand', sans-serif;
}
